.Home {

    display: flex;
    background-image: 
        linear-gradient(to bottom, rgba(242, 92, 84, 0.5), rgba(242, 92, 84, 0.5)),
        url('../../../assets/images/hero.png');
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;

    

}